.jumbotron {
  padding-top: 7%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 7%;
  background-image: url("img/back.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#mapping {
  background-image: url("img/back5.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#about {
  background-image: url("img/back2.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#projects {
  background-image: url("img/back3.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#contact {
  background-image: url("img/back4.jpg");
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}
section {
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 10%;
}